.DS_Store
.env
.eslintcache
.idea
.log
.now
.vercel
.vscode
.yarn
.yarnrc.yml
.pnp*

*.swp
*.iml

app-minimal/
assets/build/
coverage
docs/.vuepress/dist
node_modules
tmp

Session.vim
combined.log
dump.rdb
error.log
npm-debug.log
package-lock.json

# limit crawls
lib/v2/baozimh

# 3rd party embed
lib/v2/bilibili
lib/routes/ncm

# Custom routes
lib/v2/douban
lib/v2/weibo
lib/v2/tencent/music

# Unscramble images, allow query with operators
lib/v2/18comic/search.js
lib/v2/18comic/utils.js

# add video controls
lib/v2/douyin
lib/v2/picuki
lib/v2/tiktok

# YouTube Video Translation
lib/v2/youtube/channel.js
lib/v2/youtube/utils.js
lib/v2/youtube/router.js

.gitignore
# pnpm-lock.yaml
yarn.lock
yarn-error.log

scripts/twitter-token/accounts.*
