node_modules
npm-debug.log
error.log
combined.log
.log
.vscode
.idea
.DS_Store
docs/.vuepress/dist
lib/config/app.json
lib/config/config.js
yarn-error.log
tmp
*.swp
*.iml
coverage
.env
app-minimal/
dump.rdb
Session.vim

.now
.vercel

assets/build/
package-lock.json

# limit crawls
lib/v2/baozimh

# 3rd party embed
lib/v2/bilibili
lib/routes/ncm

# Custom routes
lib/v2/douban
lib/v2/weibo
lib/v2/tencent/music

# Unscramble images, allow query with operators
lib/v2/18comic/search.js
lib/v2/18comic/utils.js

# add video controls
lib/v2/douyin
lib/v2/picuki
lib/v2/tiktok

# YouTube Video Translation
lib/v2/youtube/channel.js
lib/v2/youtube/utils.js
lib/v2/youtube/router.js

.gitignore
